/* Pretty standard CSS reset */
@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  button {
    padding: 0;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  ul,
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

@layer variables {
  :root {
    --theme-red: red;
    --theme-beige: beige;
    --header-height: 4rem;
  }
}

@layer base {
  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
      scroll-padding: var(--header-height);
    }
  }
  html {
    font-family: "B612 Mono", monospace;
    font-weight: bold;
    color: var(--theme-red);
    background-color: var(--theme-red);
  }
  a {
    text-decoration: none;
  }
}

header {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--theme-red);

  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  
}

header #logo-container {
  width: 16rem;
  padding-left: 2rem;
  display: flex;
}

header #logo-container image svg {
  fill: purple;
}

header svg {
  fill: var(--theme-beige);
}

#logo-image {
  content: url("assets/beige-logo.svg");
}

#main-content {
  display: flex;
  justify-content: space-between;
  @media (width < 760px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

#home-album-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 20%;
  margin-top: 4rem;
  margin-left: 6rem;
  @media (width < 760px) {
    display: none;
  }
}

#home-album-container img {
  border-radius: 5px;
}

header.home {
  background-color: transparent;
  flex-direction: column;
  align-items: end;

  @media (width < 760px) {
    align-items: center;
  }
}

header.home #nav-button {
  @media (width < 760px) {
    display: none;
  }
}

header.home #nav-container {
  margin-top: 4rem;
  margin-right: 6rem;
  @media (width < 760px) {
    margin: 0;
    margin-top: 1rem;
  }
}
header.home nav {
  @media (width < 760px) {
    display: block !important;
  }
}


header.home nav ul {
  flex-direction: column;
  font-size: 2rem;
  padding: 0;

  @media (width < 760px) {
    flex-direction: row;
    font-size: 1rem;
    flex-wrap: wrap;
    justify-content: center;

  }
}


header.home #main-link {
  width: 100%;
}

header.home #logo-image {
  content: url("assets/red-logo.svg");
  width: 100%;
}



header.home svg {
  fill: var(--theme-red);
}

header.home #logo-container {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}


header.home nav ul li {
  padding: 0;
}

header.home nav ul li + li {
  padding-top: 1rem;
  @media (width < 760px) {
    padding: 0;
    padding-left: 1rem;
  }
}
header.home nav ul li:last-child {
  @media (width >= 760px) {
    display: none;
  }
}

header.home nav ul li:last-child a {
  color: var(--theme-beige);
  background-color: var(--theme-red);
  padding-left: 6px;
  padding-right: 4px;
}

header.home a, header.home a:visited {
  color: var(--theme-red);
}

nav ul {
  display: flex;
  padding-right: 48px;
  
}

nav ul a, nav ul a:visited {
  color: var(--theme-beige);
}

nav ul li + li {
  padding-left: 16px;
}

#nav-button {
  display: none;
  height: 36px;
  width: 36px;
  margin-right: 12px;
  background: transparent;
  border: none;
  border-radius: 4px;
}

#nav-button img {
  width: 100%;
  height: 100%;
}

#nav-button[aria-expanded="true"] img {
  content: url("assets/cross.svg");
}
#nav-button[aria-expanded="false"] img {
  content: url("assets/hamburger.svg");
}

@media (width < 760px) {
  #nav-button {
    display: block;
  }
  [aria-expanded="true"] ~ nav {
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--theme-red);
  }
  [aria-expanded="false"] ~ nav {
    display: none;
  }
  [aria-controls="primary-nav"] {
    display: block;
  }
}

@media (width < 760px) {
  [aria-expanded="true"] ~ nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
}

@media (width < 760px) {
  [aria-expanded="true"] ~ nav ul li {
    padding: 0;
    text-align: center;
  }
}

main section + section {
  margin-top: var(--header-height);
}

section {
  min-height: calc(100vh - var(--header-height));
  width: 100%;
  background-size: cover;
  background-position: center;
}

section:nth-child(1) {
  min-height: 100vh;
}

section:nth-child(2) {
  min-height: 100vh;
}

#home {
  background-image: url("assets/home-page.jpg");
  @media (width < 760px) {
    background-color: background-image: url("assets/home-page.jpg");
  }
}

#tour {
  background-image: url("assets/tour-dates.jpg");
  max-width: 100%;
  @media (width < 760px) {
    background-image: url("assets/wall.jpg");
  }
}

#tour-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  
}

#tour-content h1 {
  font-size: 2.5rem;
  margin-top: 6rem;
  margin-bottom: 4rem;
  @media (width < 760px) {
    margin-top: 3.5rem;
    margin-bottom: 2rem;
  }
}
#tour-content a {
  text-align: center;
  @media (width < 760px) {
    display: flex;
    flex-direction: column;
  }
}
#tour-content a .vert-bar {
  @media (width < 760px) {
    display: none;
  }
}
#tour-content li + li {
  padding-top: 1rem;
  @media (width < 760px) {
    padding-top: 1.5rem;
  }
}
#tour-content li:last-child {
    margin-bottom: 40rem;
    @media (width < 760px) {
    margin-bottom: 2rem;
  }
}
#tour-content a,
#tour-content a:visited {
  color: red;
}

#tour-dates-wrapper {
  height: 0;
}

#bio {
  background-image: url("assets/bio-page.jpg");
  background-position: top;
  @media (width < 760px) {
    background-image: url("assets/tour-dates.jpg");
    background-position: top;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (width < 760px) {
    justify-content: start;
    text-align: center;
  }
}

#bio-content {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  @media (width < 760px) {
    padding-right: 5%;
  }
}

#bio-content h1 {
  font-size: 2.5rem;
  @media (width < 760px) {
    padding-top: 4rem;
  }
}

#bio-content p {
  width: 25%;
  padding-top: 2rem;
  @media (width < 760px) {
    width: 100%;
  }
}

#contact {
  background-image: url("assets/contact-page.jpg");
  @media (width < 760px) {
    background-image: url("assets/contact-page.jpg");
    background-position: center;
  }
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#contact-content {
  display: flex;
  flex-direction: column;
}

#contact-message {
  margin-top: 2rem;
  font-size: 1.5rem;
  @media (width < 760px) {
    margin-top: 2rem;
    font-size: 1rem;
  }
}

#contact-email {
  margin-top: 2rem;
  font-size: 3rem;
  color: var(--theme-beige);
  background-color: var(--theme-red);

  @media (width < 760px) {
    margin-top: 3rem;
    font-size: 2rem;
  }
}

.hide {
  display: none !important;
}

#boom-bap {
  color: var(--theme-beige);
  background-color: var(--theme-red);
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-top: 12px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 1.5rem;
}