/* Pretty standard CSS reset */
@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  ul,
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

@layer variables {
  :root {
    --theme-red: red;
    --theme-beige: beige;
    --header-height: 4rem;
  }
}

@layer base {
  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
      scroll-padding: var(--header-height);
    }
  }
  html {
    font-family: "B612 Mono", monospace;
    font-weight: bold;
    color: var(--theme-red);
    background-color: var(--theme-red);
  }
  a {
    text-decoration: none;
  }
}

header {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--theme-red);

  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

header.home {
  background-color: transparent;
  flex-direction: column;
  align-items: end;

  #nav-container {
    margin-top: 4rem;
    margin-right: 6rem;
  }

  #logo-container {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
  }
  nav ul {
    flex-direction: column;
    font-size: 2rem;
    padding: 0;
    li {
      padding: 0;
    }
    li + li {
      padding-top: 1rem;
    }
  }
  a,a:visited {
    color: var(--theme-red);
  }
}

nav ul {
  display: flex;
  padding-right: 48px;
  a,a:visited {
    color: var(--theme-beige);
  }
  li + li {
    padding-left: 16px;
  }
}

#nav-button {
  display: none;
  height: 36px;
  width: 36px;
  margin-right: 12px;
  background: var(--theme-beige);
  border: none;
  border-radius: 4px;
}

#nav-button[aria-expanded="true"] img {
  content: url("assets/cross.svg");
}
#nav-button[aria-expanded="false"] img {
  content: url("assets/hamburger.svg");
}

@media (width < 760px) {
  #nav-button {
    display: block;
  }
  [aria-expanded="true"] ~ nav {
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--theme-red);
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;
      li {
        padding: 0;
        text-align: center;
      }
    }
  }
  [aria-expanded="false"] ~ nav {
    display: none;
  }
  [aria-controls="primary-nav"] {
    display: block;
  }
}

main {
  section + section {
    margin-top: var(--header-height);
  }
}

section {
  height: calc(100vh - var(--header-height));
  width: 100%;
  background-size: cover;
  background-position: center;
}

section:nth-child(1) {
  height: 100vh;
}

section:nth-child(2) {
  height: 100vh;
}

#home {
  background-image: url("assets/home-page.jpg");
  @media (width < 760px) {
    background-color: background-image: url("assets/home-page.jpg");
  }
}

#tour {
  background-image: url("assets/tour-dates.jpg");
  max-width: 100%;
  @media (width < 760px) {
    background-image: url("assets/wall.jpg");
  }
}

#tour-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  h1 {
    font-size: 2.5rem;
    margin-top: 6rem;
    margin-bottom: 4rem;
    @media (width < 760px) {
      margin-top: 3.5rem;
      margin-bottom: 2rem;
    }
  }
  a {
    text-align: center;
    @media (width < 760px) {
      display: flex;
      flex-direction: column;
    }
    .vert-bar {
      @media (width < 760px) {
        display: none;
      }
    }
  }
  li + li {
    padding-top: 1rem;
  }
  a,
  a:visited {
    color: red;
  }
}

#bio {
  background-image: url("assets/bio-page.jpg");
  background-position: top;
  @media (width < 760px) {
    background-image: url("assets/tour-dates.jpg");
    background-position: top;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (width < 760px) {
    justify-content: start;
    text-align: center;
  }
}

#bio-content {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  @media (width < 760px) {
    padding-right: 5%;
  }
  h1 {
    font-size: 2.5rem;
    @media (width < 760px) {
      padding-top: 4rem;
    }
  }
  p {
    width: 25%;
    padding-top: 2rem;
    @media (width < 760px) {
      width: 100%;
    }
  }
}

#contact {
  background-image: url("assets/contact-page.jpg");
  @media (width < 760px) {
    background-image: url("assets/contact-page.jpg");
    background-position: center;
  }
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#contact-content {
  display: flex;
  flex-direction: column;
}

#contact-message {
  margin-top: 2rem;
  font-size: 1.5rem;
  @media (width < 760px) {
    margin-top: 2rem;
    font-size: 1rem;
  }
}

#contact-email {
  margin-top: 2rem;
  font-size: 3rem;
  color: var(--theme-beige);
  background-color: var(--theme-red);

  @media (width < 760px) {
    margin-top: 3rem;
    font-size: 2rem;
  }
}
